html,body {
  height: 100%;
}

.no-highlight a, .no-highlight a:hover, .no-highlight a:visited, .no-highlight a:active{
  color: inherit;
  text-decoration: none;
}

.form-common{
	margin-top: 100px;
}

.top-margin{
	margin: 10px 0
}