html,body {
  height: 100%;
}

.no-highlight a, .no-highlight a:hover, .no-highlight a:visited, .no-highlight a:active{
  color: inherit;
  text-decoration: none;
}

.top-margin{
	margin: 10px 0
}

.top-link{
	padding: 12px 12px 6px 12px;
    display: inline-block;
}

.goal-desc-read{
	white-space: pre-wrap;
}

.goal-desc-edit{
	height: 200px;
}

.subgoals-table .title{
	width: 50%;
}

.subgoals-table .duedate{
	width: 35%;
}

.subgoals-table .controls{
	width: 15%;
}

.cancel-link{
	padding: 0 10px;
}