{% extends "bootstrap/base.html" %}


{% block title %}
	{% if title %}
		{{ title }}
	{% else %}
		{{ config['APP_TITLE'] }}
    {% endif %}
{% endblock title %}

{% block navbar %}
	<nav>
		<a href="{{ url_for('index') }}">
			{{ config['APP_NAME'] }}
		</a>
		{% if current_user.is_anonymous %}
			<a href="{{ url_for('login') }}">Login</a> 
		{% else %}
			<a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
			<a href="{{ url_for('logout') }}">Logout</a> 
		{% endif %}
	</nav>
{% endblock navbar %}

{% block content %}
	<hr>
	{% with messages = get_flashed_messages() %}
    	{% if messages %}
    		<ul>
    			{% for message in messages %}
    				<li>{{ message }}</li>
    			{% endfor %}
    		</ul>
    	{% endif %}
    {% endwith %}

    {% block page %}
    {% endblock page %}

    {% block footer %}
    	<footer>
    		Study new things, get better every day!
    	</footer>
		
	{% endblock footer %}
{% endblock content %}