<!doctype html>
<head>
	<title>
		{% block title %}{% endblock title %}
	</title>
</head>
<body>
	<!-- Navigation block -->
	<nav>
		<a href="{{ url_for('index') }}">Rastishka</a>
		 <a href="{{ url_for('login') }}">Login</a> 
	</nav>

	<!-- Flashing notifications -->
	<hr>
	{% with messages = get_flashed_messages() %}
    	{% if messages %}
    		<ul>
    			{% for message in messages %}
    				<li>{{ message }}</li>
    			{% endfor %}
    		</ul>
    	{% endif %}
    {% endwith %}

    <!-- Contents -->
	{% block content %}
	{% endblock content %}
</body>
<footer>
	{% block footer %}
		Study new things, get better every day!
	{% endblock footer %}
</footer>