{% extends "base.html" %}

{% block content %}
	<div class="container h-100">
		{{ super() }}
		<div class="row">
			<div class="col-md-12">
				<h1>My Goals</h1>
				{% for goal in goals %}
					<div class="card top-margin">
						<div class="card-body">
							<h5 class="card-title no-highlight">
								<a href="{{ url_for('goal_view', goal_id=goal.id) }}">{{ goal.title }}</a>
								<span class="badge badge-primary">
									{{ goal.due_date.strftime("%d.%m.%y") }}
								</span>
							</h5>
							<p class="card-text no-highlight"><a href="{{ url_for('goal_view', goal_id=goal.id) }}">{{ goal.description }}</a></p>
							<a href="#" class="card-link">Up</a>
							<a href="#" class="card-link">Down</a>
							<a href="#" class="card-link">Edit</a>
							<a href="#" class="card-link">Delete</a>
					  </div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}