{% extends "base.html" %}

{% block content %}
	<div class="container h-100">
		{{ super() }}
		<div class="row">
			<div class="col-md-12 align-self-center text-right">
				<a href="{{ url_for('goals') }}" class="top-link">Back to Goals</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card" style="margin: 10px 0">
					<div class="card-body">
						<h1 class="card-title no-highlight">
							<a href="{{ url_for('goal_view', goal_id=goal.id) }}">
								{{ goal.title }}
							</a>
							
							{% if goal.duedate %}
								<span class="badge badge-primary">
									{{ goal.duedate.strftime("%d.%m.%Y") }}
								</span>
							{% endif %}
						</h1>
						<p class="card-text no-highlight">
							<a href="{{ url_for('goal_view', goal_id=goal.id) }}" class="{{ 'goal-desc-read' if goal.description }}">
								{{- goal.description -}}
							</a>
						</p>
						{% if goal.subgoals.count() > 0 %}
							<h2>Subgoals</h2>
							<p>
								<ul class="list-group list-group-flush">
									{% for sg in goal.subgoals %}
										<li class="list-group-item d-flex justify-content-between align-items-center">
									    	{{ sg.title }}

									    	{% if sg.duedate %}
									    		<span class="badge badge-primary badge-pill">
										    		{{ sg.duedate.strftime("%d.%m.%Y") }}
												</span>
									    	{% endif %}
									  	</li>
									{% endfor %}
								</ul>
							</p>
						{% endif %}
						<a href="{{ url_for('goal_edit', goal_id=goal.id) }}" class="card-link">Edit</a>
						<a href="{{ url_for('goal_delete', goal_id=goal.id) }}" class="card-link" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}