{% extends "base.html" %}

{% block content %}
	<div class="container h-100">
		{{ super() }}
		<div class="row">
			<div class="col-md-12">
				<div class="card" style="margin: 10px 0">
					<div class="card-body">
						<h1 class="card-title no-highlight">
							<a href="{{ url_for('goal_view', goal_id=goal.id) }}">{{ goal.title }}</a>
							<span class="badge badge-primary">
								{{ goal.due_date.strftime("%d.%m.%y") }}
							</span>
						</h1>
						<p class="card-text no-highlight"><a href="{{ url_for('goal_view', goal_id=goal.id) }}">{{ goal.description }}</a></p>
						<a href="{{ url_for('goal_edit', goal_id=goal.id) }}" class="card-link">Edit</a>
						<a href="#" class="card-link">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}